  <title>Canvas</title>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=no">
  <style>
    :root {
      font-family: sans-serif;
    }
    img {
      display: none;
    }

    canvas {
      max-width: 80vw;
      margin: 0 auto;
      display: block;
    }
  </style>
  <h1>Destroy by Compression</h1>
  <input id=file type=file accept=image/*>
  <label>
    offset
    <input id=offset type=number min=1 max=100 value=1>
  </label>
  <select id=mime>
    <option selected>jpeg</option>
    <option>webp</option>
  </select>
  <button id=button>Destroy Image File by Compression</button>
  <button id=stopstart>stop/start</button>
  <p>
    <canvas id=canvas></canvas>
  </p>
  <img id=img>
  <script src=canv.js></script>
  <h1>About</h1>
  <p>
    This works by iteratively applying the following:

    <pre>
    <code>
      ctx.drawImage(img, ran(), ran());  
      img.src = canvas.toDataURL('image/jpeg', 0.5);
    </code>
    </pre>
  </p>
